
                    /* @import url(' https: //fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap'); */

                    * {
                        font-family: 'Poppins', sans-serif;
                        margin: 0;
                        padding: 0;
                        box-sizing: border-box;
                    }
                
                    body {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        min-height: 100vh;
                        flex-direction: column;
                        background-image: linear-gradient(to right top, #ffffff, #f1e7fe, #edccf6, #f0aee7, #f68ecf);
                    }
                    
                
                    .box {
                        position: relative;
                        width: 380px;
                        height: 420px;
                        background: #EFE9ED;
                        border-radius:8px;
                        overflow: hidden;
                    }
                
                    .box::before {
                        content: '';
                        z-index: 1;
                        position: absolute;
                        top: -50%;
                        left: -50%;
                        width: 380px;
                        height: 420px;
                        transform-origin:bottom right;
                        background:linear-gradient(0deg, transparent, #FC009E, #45f3ff);
                        animation: animate 6s linear infinite;
                    }
                
                    .box::after {
                        content: '';
                        z-index: 1;
                        position: absolute;
                        top: -50%;
                        left: -50%;
                        width: 380px;
                        height: 420px;
                        transform-origin:bottom right;
                        background:linear-gradient(0deg, transparent, #000000, #45f3ff);
                        animation: animate 6s linear infinite;
                        animation-delay: -3s;
                    }
                
                    @keyframes animate {
                        0% {
                            transform: rotate(0deg);
                        }
                
                        100% {
                            transform: rotate(360deg);
                        }
                    }
                
                    .form {
                        position: absolute;
                        inset: 2px;
                        background:#EFE9ED;
                        padding: 50px 40px;
                        border-radius: 8px;
                        z-index: 2;
                        display: flex;
                        flex-direction: column;
                    }
                
                    h2 {
                        color: #8A0358;
                        font-weight: 500;
                        text-align: center;
                        letter-spacing: 0.1em;
                    }
                
                    .inputBox {
                        position: relative;
                        width: 300px;
                        margin-top: 35px;
                    }
                
                    .inputBox input {
                        position: relative; width: 100%; padding: 20px 10px 10px; background: transparent; outline: none; border: none;
                        color: white; font-size: 1em; letter-spacing: 0.05em; transition: 0.5s; z-index: 10;
                    }
                
                    .inputBox span {
                        position: absolute; left: 0; padding: 20px 0px 10px; pointer-events: none; font-size: 1em; color: #8f8f8f;
                        letter-spacing: 00.05em; transition: 0.5s;
                    }
                
                    .inputBox input:valid ~ span,
                    .inputBox input:focus ~ span {
                        color: #862A67; transform: translateX(0px) translateY(-34px); font-size: 0.75em;
                    }
                
                    .inputBox i {
                        position: absolute; left: 0; bottom: 0; width: 100%; height: 2px; background: #862A67;
                        border-radius: 4px;
                        overflow: hidden;
                        pointer-events: none;
                        z-index: 9;
                        transition: 0.5s;
                    }
                
                    .inputBox input:valid ~i,
                    .inputBox input:focus ~i {
                        height: 44px;
                    }
                
                    .links {
                        display: flex;
                        justify-content: end;
                    }
                
                    .links a {
                        margin: 15px 0px;
                        font-size: 0.75em;
                        color: #8f8f8f;
                        text-decoration: beige;
                    }
                
                    .links a:hover,
                    .links a:nth-child(2) {
                        color: #862A67;
                    }
                
                   .btn3 {
                        border: none;
                        outline: none;
                        padding: 11px 25px;
                        background: #862A67;
                        cursor: pointer;
                        border-radius: 4px;
                        font-weight: 600;
                        width: 100px;
                        margin-top: 20px;
                        color: white;
                    }
                
                    input[type="submit"]:active {
                        opacity: 0.8;
                    }

                #msg1{
                    color: red;
                }

                #plcholder{
                  margin-top: -20px;
                }

                #msg{
                    color: red;
                }
                #plcholder1{
                    margin-top: -20px;
                }

                #msg2{
                    color: red;
                }

                #plcholder2{
                    margin-top: -20px;
                }
                    @media screen and (max-width: 600px) {
                        .box {
   
                           width: 250px;
                           height: 330px;
                           background: #EFE9ED;
                           border-radius:8px;
                           overflow: hidden;
                           margin-top: -110px;
                       }
                       .form {
                           position: absolute;
                           inset: 2px;
                           background:#EFE9ED;
                           padding: 15px 20px;
                           border-radius: 8px;
                           z-index: 2;
                           display: flex;
                           flex-direction: column;
                       }
   
                       h2 {
                           color: #8A0358;
                           font-weight: 500;
                           text-align: center;
                           letter-spacing: 0.1em;
                           font-size: 25px;
                       }
   
                       .inputBox {
                           position: relative;
                           width: 200px;
                           margin-top: 19px;
                       }
   
                       .inputBox input {
                           position: relative; width: 100%; padding: 20px 10px 10px; background: transparent; outline: none; border: none;
                           color: white; font-size: 0.9em; letter-spacing: 0.05em; transition: 0.5s; z-index: 10;
                       }
                   
                       .inputBox span {
                           position: absolute; left: 0; padding: 20px 0px 10px; pointer-events: none; font-size: 0.6em; color: #8f8f8f;
                           letter-spacing: 00.05em; transition: 0.5s;
                       }
   
                       .btn3 {
                           border: none;
                           outline: none;
                           padding: 8px 12px;
                           background: #862A67;
                           cursor: pointer;
                           border-radius: 4px;
                           font-weight: 400;
                           width: 60px;
                           margin-top: 19px;
                           color: white;
                           font-size: 12px;
                       }
   
                       .links a:hover,
                       .links a:nth-child(2) {
                           color: #862A67;
                       }
                   
                       .links a {
                           margin: 15px 0px;
                           font-size: 0.65em;
                           color: #8f8f8f;
                           text-decoration: beige;
                       }
   
                       .inputBox input:valid ~ span,
                       .inputBox input:focus ~ span {
                           color: #862A67; transform: translateX(0px) translateY(-34px); font-size: 0.55em;
                       }
                   
                       .inputBox i {
                           position: absolute; left: 0; bottom: 0; width: 100%; height: 2px; background: #862A67;
                           border-radius: 4px;
                           overflow: hidden;
                           pointer-events: none;
                           z-index: 9;
                           transition: 0.5s;
                       }
                   
                       .inputBox input:valid ~i,
                       .inputBox input:focus ~i {
                           height: 37px;
                       }
                   
                       
                   }